<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Bundle Identifier -->
    <key>CFBundleIdentifier</key>
    <string>app.qcart.QcartTestAppSwiftUI</string>

    <!-- Executable (usually the target name) -->
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>

    <!-- App display name -->
    <key>CFBundleName</key>
    <string>QcartTestAppSwiftUI</string>

    <!-- URL schemes -->
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>com.qcarttestswiftui</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>qcarttestswiftui</string>
            </array>
        </dict>
    </array>
</dict>
</plist>